@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

/*Pour reduire le timer :

#countdown{
transform:scale(0.5);

*/


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', 'Roboto', Arial, Helvetica, sans-serif;
  background-color: black;
}

a {
  text-decoration: none;
}

/*------------------------------header -----------------------------------*/

header {
  margin: 0;
  min-height: 100%;
  /*min-height: 780px;*/
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/header.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header .tarif{
  position:absolute;
  top:15px;
  left: 1%;
  font-size: 18px;
  text-align: left;
}
header h1 {
  font-size: 80px;
  color: white;
  font-weight: bolder;
  margin: 0;
  text-align: center;
  padding-top: 80px;
}

header .middle {
  text-align: center;
  padding-top: 30px;
  margin-top: 1%;
}
header .mythique{
  display: inline-block;
  margin-right: 2%
}
header p {
  color: white;
  width: 350px;
  text-align: right;
  font-size: 30px;
  font-weight: bolder;
  padding-right: 40px;
  line-height: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
}
header h2 {
  text-align: center;
  color:white;
  font-size: 40px;
  margin: 7px;
}
.rose {
  color: #FF38F3;
}
.bleu {
  color: #32CBFF;
}
.vert {
  color: #00FF5A;
}

#countDown {
  padding-top: 30px;
  margin: auto;
  height: auto;
  width: auto;
  display: inline-block;
  padding-bottom: 10px;
  margin-left: 4%;
}

#countDown .flip-clock-label {
  color:white;
  font-size: 15px;
}

.days .flip-clock-label {
  left:82px;
}

header .bottomButton {
  padding-top: 6%;
  vertical-align: middle;
  margin: auto;
  text-align: center;
}
.contact {
  font-size: 20px;
  vertical-align: middle;
  margin: auto;
  display: inline-block;
  color: white;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  border: 3px solid #32CBFF;
  transition: box-shadow 0.2s;
  box-shadow: 3px 8px 0px 0px #32CBFF;
}
 .contact:hover{
  box-shadow: 5px 10px 0px 0px #32CBFF;
}

.reserver {
  vertical-align: middle;
  margin: auto;
  text-align: center;
  display: inline-block;
  color: white;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  border: 3px solid #FF38F3;
  box-shadow: 3px 8px 0px 0px #FF38F3;
  margin-left: 10%;
  margin-right: 10%;
  transition: box-shadow 0.2s;
  font-size: 20px;
}

.reserver:hover{
  box-shadow: 5px 10px 0px 0px #FF38F3;
}

.sponsor{
  text-align: center;
  margin: auto;
  display: block;
  color: white;
  width: 100%;
  margin-top: 5%;
  text-align: center;
}
  .starL{
  float:left;
  width: 33%;
  height: 60px;
  background:
  linear-gradient(324deg, #000 4%,   transparent 4%) -70px 43px,
  linear-gradient( 36deg, #000 4%,   transparent 4%) 30px 43px,
  linear-gradient( 72deg, #FFF 8.5%, transparent 8.5%) 30px 43px,
  linear-gradient(288deg, #fff 8.5%, transparent 8.5%) -70px 43px,
  linear-gradient(216deg, #fff 7.5%, transparent 7.5%) -70px 23px,
  linear-gradient(144deg, #fff 7.5%, transparent 7.5%) 30px 23px,

  linear-gradient(324deg, #000 4%,   transparent 4%) -20px 93px,
  linear-gradient( 36deg, #000 4%,   transparent 4%) 80px 93px,
  linear-gradient( 72deg, #fff 8.5%, transparent 8.5%) 80px 93px,
  linear-gradient(288deg, #fff 8.5%, transparent 8.5%) -20px 93px,
  linear-gradient(216deg, #fff 7.5%, transparent 7.5%) -20px 73px,
  linear-gradient(144deg, #fff 7.5%, transparent 7.5%) 80px 73px;
  background-color: #000;
  background-size: 100px 100px;

}

.sponsor h2 {
  float:left;
  margin: auto;
  background-color: black;
  width: 33%;
}


.starR{
  width: 100%;
  height: 60px;
  background:
  linear-gradient(324deg, #000 4%,   transparent 4%) -70px 43px,
  linear-gradient( 36deg, #000 4%,   transparent 4%) 30px 43px,
  linear-gradient( 72deg, #FFF 8.5%, transparent 8.5%) 30px 43px,
  linear-gradient(288deg, #fff 8.5%, transparent 8.5%) -70px 43px,
  linear-gradient(216deg, #fff 7.5%, transparent 7.5%) -70px 23px,
  linear-gradient(144deg, #fff 7.5%, transparent 7.5%) 30px 23px,

  linear-gradient(324deg, #000 4%,   transparent 4%) -20px 93px,
  linear-gradient( 36deg, #000 4%,   transparent 4%) 80px 93px,
  linear-gradient( 72deg, #fff 8.5%, transparent 8.5%) 80px 93px,
  linear-gradient(288deg, #fff 8.5%, transparent 8.5%) -20px 93px,
  linear-gradient(216deg, #fff 7.5%, transparent 7.5%) -20px 73px,
  linear-gradient(144deg, #fff 7.5%, transparent 7.5%) 80px 73px;
  background-color: #000;
  background-size: 100px 100px;
}

.sponsor h2:hover {
  text-decoration: underline;
}
.clearfix{
clear: both;
}


header .soumettre , footer .map{
  font-size: 20px;
  vertical-align: middle;
  margin: auto;
  text-align: center;
  display: inline-block;
  color: white;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  border: 3px solid  #00FF5A;
  box-shadow: 3px 8px 0px 0px  #00FF5A;
  transition: box-shadow 0.2s;
}
header .soumettre:hover, footer .map:hover{
  box-shadow: 5px 10px 0px 0px #00FF5A;
}

header .fa{
  font-size: 40px;
  margin: 10px;
  color:#FFF;
  line-height: 33px;
  border-radius: 10px;
}
header .fa-facebook-square{
  background-color: #FF38F3;
}

header .fa-twitter-square{
  background-color: #32CBFF;
}

header .fa-linkedin-square{
  background-color: #00FF5A;
}

header .network{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: auto;
  position:absolute;
  top:15px;
  right: 1%;
}


/*----------------   Présentation   -----------------*/

section {
  position: relative;
  min-height: 50%;
  color:white;
  border-top: 4px dashed white;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 50px;
}

.presentation {
  padding-left: 20%;
  padding-right: 20%;
}

.topSection{
  padding-top: 30px;
  vertical-align: middle;
  margin: auto;
  text-align: center;
  font-size: 20px;
}
.topSection .fa {
  font-size: 35px;
  vertical-align: middle;
  margin: auto;
}
.topSection .fa-lightbulb-o{
  margin-right: 10px;
  color : #FF38F3;
}
.topSection .fa-comments-o{
  margin-right: 10px;
  margin-left: 0px;
  color : #00FF5A;
  margin-top:-13px;
}
.topSection .fa-rocket{
  margin-right: 10px;
  margin-left: 0px;
  color : #32CBFF;
}

.topSection{
  position: relative;
  width:73%;
}
.topSection p {
  width: 30%;
  margin-top: 0;

}
.topSection .idea{
text-align: left;
padding-left:  20px;

}

.topSection .grade{
text-align: center;
}

.topSection .fusee{
  text-align: right;
  padding-right: 20px;
}

section h2 {
  text-align: left;
margin-left: 30px;
font-size: 30px;
}

section p {
  display: inline-block;
  width: 35%;
  text-align: justify;
  vertical-align: text-top;
}
section .first{
  width: 30%;
  margin-right: 20px;
}

/*---------------          Section Sponsor                        -------------*/

.sponsorSec{

  padding-right: 20%;
  padding-left: 20%;

}

.sponsorSec img {
  max-width: 30%;
  height: auto;
  vertical-align: middle;
  margin: 10px;

}

/*---------------          Section Speaker                        -------------*/

.speaker{
  background-image: url('images/stripe.png');
  background-repeat: repeat;
  color : black;
  padding-right: 20%;
  padding-left: 20%;
  border-top: 4px dashed black;
  text-align: center;
}

.speaker .speakerProfile {
  width: 330px;
  height:140px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  background-color: white;
  margin: 1%;;
}

.speakerProfile .speakerPhoto{
  width: 140px;
  padding-top: 140px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
}

.speakerDesc{
  display: inline-block;
  width: 175px;
  vertical-align: top;
  margin-left: 10px;

}

.speakerDesc p {
  display: block;
  width: 100%;
  line-height: 10px;
  margin-top: 10px;
}

.speakerDesc h3{
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 14px;
}

.speakerDesc h3::first-letter{
  color:#32CBFF;
}

.speaker .toColor::first-letter {
    color:#FF38F3;
}

.speakerDesc span{
  color:#00FF5A;
}

/* ------------------------------------ Agenda ---------------------------------*/
.agenda {
  padding-left: 20%;
  padding-right: 20%;
  height: 80%;
  background-color: white;
  border-top: 4px dashed black;
}



/*----------------               Slider                                ------------*/

.slider{
  height: 50vw;
  overflow: hidden;
}
.getInspired {
  position:absolute;
  bottom:100px;
  left:60px;
  z-index: 200;
}

.getInspired .fa {
  font-size: 300px;
  position:absolute;
  top:-150px;
  z-index: -10;
}
#rose{
color : #FF38F3;
left:10px;
transform: rotate(-7deg);
}
#vert{
  color : #00FF5A;
  left:20px;
}
#bleu{
color : #32CBFF;
left: 30px;
transform: rotate(7deg);

}

.getInspired h2{
  font-weight: bold;
  font-size: 40px;
  line-height: 45px;
  margin: 0;
  z-index: 100;
}

.getInspired h2 #increase {
  color: #00FF5A;
}

.getInspired p {
  width: auto;
  z-index: 100;
  font-size: 30px;
  margin-top: 0px;
}
/*------------------- CSS DU SLIDER  ---------------------*/
.my-slider {
    position: relative;
    width: 100%;
    height: 50vw;
    overflow: auto;
    padding: 0px;
    margin: 0px;
}
.my-slider ul {
    padding: 0px;
    margin: 0px;
}
.my-slider li{
padding: 0px;
margin: 0px;
}
.my-slider ul li {
    float:left;
    padding: 0px;
    margin: 0px;
    min-height: 200px;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    -ms-background-size: 100% auto;
    background-size: 100% auto;
    background-position-y: -75px;
    box-shadow: inset 0 -3px 6px rgba(0,0,0,.1);
}
.unslider-nav ol {
  list-style: none;
  text-align: center;
}
.unslider-nav ol li {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 4px;
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -999em;
  border: 2px solid #fff;
  cursor: pointer;
}
.unslider-nav ol li.unslider-active {
  background: #fff;
  cursor: default;
}

.unslider{
  overflow:auto;
  margin:0;
  padding:0;
  min-height: 50vw;
}
.unslider-wrap{
  position:relative;
}
.unslider-wrap.unslider-carousel>li{
  float:left;
}
.unslider-vertical>ul{height:100%}
.unslider-vertical li{float:none;width:100%}
.unslider-fade{position:relative;}
.unslider-fade .unslider-wrap li{position:absolute;left:0;top:0;right:0;z-index:8}
.unslider-fade .unslider-wrap li.unslider-active{z-index:10}
.unslider li,.unslider ol,.unslider ul{list-style:none;margin:0;padding:0;border:none}
.unslider-arrow{position:absolute;left:20px;z-index:2;cursor:pointer}
.unslider-arrow.next{left:auto;right:20px}


.imgSlide{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vw;
}
.img1{
  background-image: url("images/slider/IMG_1079.JPG");
    background-position: bottom;
}
.img3{
  background-image: url("images/slider/IMG_2756.JPG");
  background-position: 50% 6%;

}
.img2{
  background-image: url("images/slider/IMG_5292.JPG");
}
.img4{
  background-image: url("images/slider/IMG_5325.JPG");
}
.img5{
  background-image: url("images/slider/IMG_5360.JPG");
}
.img6{
  background-image: url("images/slider/IMG_5376.JPG");
}

/*------------- footer ------------------*/

footer{
  border-top: 4px dashed white;
  min-height: 40%;
  color: white;
  position: relative;
}
footer .event {
  position: absolute;
  bottom: 10%;
  right: 350px;
}
footer .logo{
  background-image: url("images/logo_white_colored.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 50px;
  position: absolute;
  bottom: 10%;
  right: 50px;
}

footer .adresse{
  display: inline-block;
  width: 200px;
  margin: auto;
  margin-left: 5%;
  vertical-align: middle;

}
footer .adresse a {
  color:white;
}

footer .reserver {
    margin: 0;
    background-color: black;
}

footer .map{
  width: 200px;
  display: inline-block;
  background-color: black;
}

footer .contact{
  margin-left: 35px;
  margin-right: 35px;
  background-color: black;
}

footer .bottomButton{
position: absolute;
top:-60px;
right: 30px;
z-index: 500;
}

footer .cite{
  width: 100%;
  text-align: center;
  margin: auto;
  line-height: 30px;
  font-family: "roboto";
  vertical-align: middle;
  position: absolute;
  top : 25%;
  left: 0;


}

footer .cite p {
    display : inline-block;
    width: 40%;
    text-align: left;
}
footer .cite .fa {
  font-size: 25px;
}
footer .cite .bleuQL{
  position: relative;
  top:0;
  left: 0;
  color : #32CBFF;
}
footer .cite .vertQL{
  position: relative;
  top:-7px;
  left: 15px;
  color:#00FF5A;
}

footer .cite .roseQL{
  position: relative;
  top:7px;
  left: 26px;
  color:#FF38F3;
}

/***(-----------------------   Formulaire de contact ---------------------------)****/



.formContact {
  position: fixed;
  width: 500px;
  min-height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -10%;
  margin-left: -250px;
  z-index : 1000000;
  background-color: black;
  border-radius: 10px;
  border : 4px dashed white;
  text-align: center;
  padding: 30px;
  transition : top 1s ease-out;
}

.formContact .cancel {
  border : 4px dashed white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color : white;
  position:absolute;
  top : -20px;
  right: -20px;
  background-color: black;
  font-size: 25px;

}

.formContact .cancel:hover{
  cursor:pointer;
}

.hide{
  top:-100%;
}
.formContact label {
  color:white;
  width: 80%;
  display: inline-block;
  text-align: left;
}

.formContact input{
  display: inline-block;
  width: 80%;
  line-height: 30px;
  font-size: 20px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: white;
  background-color: transparent;
  border:none;
  border-bottom:2px solid white;
}

.formContact textarea {
  display: inline-block;
  width: 80%;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: black;
  color:white;
  border:none;
   background-image: -webkit-linear-gradient(top , transparent, transparent 23px, white 3px);
    background-size: 100% 25px;
}

.formContact textarea:focus , .formContact input:focus{
  outline: none;
}

.formContact input[type=submit]{
  border-bottom: none;
  font-weight: bold;
}

.formContact input[type=submit]:hover{
  cursor:pointer;
}


/*--------------- Version pour telephone ----------------*/

@media screen and (max-width: 640px) {
  html,body{
    width: 100%;
    overflow-x: hidden;
  }

header{
  margin: 0;
  min-height: 110%;
  width: 100%;
  overflow: hidden;
}

  header .tarif{
    position:static;
    margin-top: 0;
    padding-top: 15px;
    font-size: 15px;
    text-align: center;
    display: inline-block;
  }

  header .fa{
    font-size: 25px;
    margin: 7px;
    line-height: 20px;
  }

  header .network{
    width: 100%;
    text-align: center;
    margin: auto;
    position:static;
  }


  header h1 {
    font-size: 40px;
    color: white;
    font-weight: bolder;
    margin: 0;
    text-align: center;
    padding-top: 30px;
  }

  header h2 {
    text-align: center;
    color:white;
    font-size: 20px;
    margin: 7px;
  }



  header .middle {
    text-align: center;
    padding-top: 20px;
    margin-top: 1%;
  }
  header .mythique{
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;

  }
  header p {
    display: inline;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
    line-height: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 0;
  }

  #countDown {
    width: 200%;
    transform: scale(0.4);
    position :relative;
    top : -10px;
    left : -50%;
    margin-bottom: 0;
  }

  header .soumettre {
      font-size: 13px;
      width: 120px;
      font-weight: lighter;
        margin: 20px;

  }
header .soumettre h3, .contact h3, .reserver h3, footer .map h3{
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact {
    font-size: 13px;
    width: 120px;
    font-weight: lighter;
      margin: 20px;
  }

  .reserver {
    width: 120px;
    font-size: 13px;
    margin: 20px;
    font-weight: lighter;
  }

header .bottomButton{
  padding: 0;
  margin-top: -40px;
}

  .sponsor{
    margin-top: 10%;
  }
  .starL{
    float:left;
    width: 25%;
    height: 60px;


  }

  .sponsor h2 {
    line-height: 60px;
    width: 50%;
  }

.sponsorSec{
  padding: 0;
  padding-bottom: 30px;
}

.sponsorSec h2 {
font-size: 25px;
text-align: center;
}

.sponsorSec img{
  max-width:70%;
}


.speaker{
  padding: 0;
  padding-bottom: 30px;
  text-align: center;

}

.speaker h2 {
  font-size: 25px;
  text-align: center;
}

/*---------------------   Présentation     ---------------------*/

.presentation {
  padding: 0;
  padding-bottom: 30px;
  text-align: center;

}

.presentation .topSection{
  width: 100%;
}
.presentation .topSection p{
  width: 28%;
}
.presentation .topSection .grade {
  vertical-align: bottom;

}
.presentation .first, .presentation p {
  width: 65%;
  margin: 0
}
.presentation .first{
  margin-bottom: 20px;
}


.slider{
  height: 100vw;
  overflow: hidden;
  padding: 0;
}
.getInspired {
  position:absolute;
  bottom:10px;
  left:10px;
  z-index: 200;
  width: 60%;
}

.getInspired .fa {
  font-size: 120px;
  position:absolute;
  top:-42px;
  z-index: -10;
}
#rose{
color : #FF38F3;
left:50px;
transform: rotate(-7deg);
}
#vert{
  color : #00FF5A;
  left:60px;
}
#bleu{
color : #32CBFF;
left: 70px;
transform: rotate(7deg);

}

.getInspired h2{
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  margin: 0;
  z-index: 100;
}

.getInspired h2 #increase {
  color: #00FF5A;
}

.getInspired p {
  text-align: left;
  margin: 0;
  width: 97%;
  z-index: 100;
  font-size: 18px;
  margin-top: 0px;
}
/*------------------- CSS DU SLIDER  ---------------------*/
.my-slider {
    position: relative;
    width: 100%;
    height: 100vw;
    overflow: auto;
    padding: 0px;
    margin: 0px;
}


.unslider{
  overflow:auto;
  margin:0;
  padding:0;
  min-height: 100vw;
}
.imgSlide {
  height: 100vw;
}


footer .event {
  position: absolute;
  bottom: 88px;
  right: 0px;
  background-color: transparent;
  width: 55px;
}

footer .logo{
  width: 167px;
  height: 23px;
  display : inline-block;
  vertical-align: bottom;
  position:static;
}

footer .adresse{
  display: inline-block;
  width: 200px;
  margin: auto;
  vertical-align: bottom;
}

footer .adresse p {
  line-height: 15px;
}
footer .adresse a {
  color:white;
}

footer .reserver {
  display: inline-block;
    margin: 0;
    background-color: black;
    margin-top: 15px;
}

footer .map{
  font-size: 13px;
  display: inline-block;
  background-color: black;
  width: 120px;
  font-weight: lighter;
  margin-bottom: 15px;
}

footer .contact{
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: black;
}

footer .bottomButton{
position: absolute;
top:-145px;
right: 0px;
width: 135px;
z-index: 500;
}

footer .cite{
  display:none;
}

}
